body {
	background-color: #5DADE2;
}


#change1 {

	background-color: #E74C3C;
	height: 90px;
	width:150px;
	margin: 10px;
	
}

#change2 {

	background-color: #D4AC0D;
	height: 90px;
	width:150px;
	margin: 10px;
	
	
}

#change3 {

	background-color: #1A5276;
	height: 90px;
	width:150px;
	margin: 10px;
	
	
}

#reset {

	background-color: #5DADE2;
	height: 90px;
	width:150px;
	margin: 10px;
	
	
}